
    
    <%- include("partials/navbar", {title:"Apply", 
    css_href:"css/market.css"}) %>


    <div id="body">
        <div class="image">
            <img src="https://assets.interntheory.com/creative/Internship_left_course_add_02.png">
        </div>
        <div class="about">
            <div class="cdetails">
                <div id="head">
                    <img src="https://assets.interntheory.com/uploads/company/companylogos/62362fbf882221470f099d8d0a119df93ce19831/7e34b7356b30b3696d14fcab94c6e8989a42fd69com.jpg">
                    <div class="subhead">
                        <h3>Marketing Ambassador - Work From Home</h3>
                        <p>Laugh Out Loud Ventures</p>
                        <p>Work From Home Internship</p>
                        <p>Internship Category: Marketing</p>
                    </div>
                    <div class="blank1"></div>
                </div>
                <div id="line"></div>
                <div id="body">
                    <div class="blank2"></div>
                    <div class="part1">
                        <p>Openings: 5</p>
                        <p>Duration: 4 weeks</p>
                        <p>Start Date: 23rd Aug 2021</p>
                        <p>Application Deadline: 22nd Sep 2021</p>
                        <p>Stipend: 3000 - 10000 per month</p>
                    </div>
                    <h4>Internship Description:</h4>
                    <div class="part2">
                        <p>We write and create humorous products for people; our Marketing Ambassadors help us market these products, and are an integral part of the team. We will assign a Team Lead and conduct training so you can do great Marketing Demos to potential clients. You will do great Marketing Demos to these clients, and will earn a lot of money. This is a good introductory internship in the field of sales, even if you don't have a lot of formal experience in the past.</p>
                        <p>Depending on your prior experience and skills, your work in the internship might have a Business Development and Marketing component, or more of a Marketing Communication component. This will be decided during the interview phase. All the work can be done entirely from home, and at flexible timings.</p>
                    </div>
                    <h4>Perks</h4>
                    <div class="part3">
                        <p>Certificate of Internship, Letter of Recommendation, Possibility of Pre Placement Offer, Flexible Hours, Casual Attire</p>
                    </div>
                    <div class="part4">
                        <h4>Prefered Skills</h4>
                        <p>Communication</p>
                        <p>Marketing</p>
                        <p>Verbal Communication</p>
                        <p>Organization</p>
                    </div>
                    <div class="part5">
                        <p>Check out some of our courses to polish the required skills. Joining these courses can increase your chances of selection by 70%.</p>
                    </div>
                    <div id="line1"></div>
                    <div class="part6">
                        <h4>Company Description</h4>
                        <p>We write jokes for people; we also make those jokes look nice, and sell them to other people. We are fun. We have multiple internships available in different fields.</p>
                    </div>
                    <div class="part7">
                        <h4>Location</h4>
                        <p>Bangalore</p>
                        <p>Chennai</p>
                        <p>Delhi</p>
                        <p>Mumbai</p>
                        <p>Pune</p>
                        <p>Thane</p>
                    </div>
                    <div class="blank2"></div>
                    <button id="btn1">APPLY</button>
                    <button id="btn2"><a id="a2" href="internship.html">BACK TO INTERNSHIPS</a></button>
                </div>
            </div>
        </div>
        <div id="recommend">
            <div class="redetails">
                <div class="rehead">
                    <p>Recommended Courses</p>
                </div>
                <div class="recourse">
                    <div class="reimage">
                        <img src="https://assets.interntheory.com/creative/courses/thumbnails/digital-marketing-course.png">
                    </div>
                    <div class="recdetails">
                        <p class="rectitel">Digital Marketing Course</p>
                        <p>Certified Course + Internship Assistance</p>
                        <p>Use Coupon Code FIRSTCOURSE to get 20% off</p>
                    </div>
                    <div class="blank3"></div>
                    <div class="recprice">
                        <h4>Rs. 5999</h4>
                        <button> <a id="a3" href="http://localhost:2345/Courses"> KNOW MORE</a></button>
                    </div>
                </div>
                <div id="line"></div>
            </div>
        </div>
   </div>
   <div id="end"></div>
   <div id="main">
    <div id="content">
         <div id="upper_part">
             <div id="image">
                 <img src="https://image.flaticon.com/icons/png/512/220/220200.png"/>
                 <img src="https://image.flaticon.com/icons/png/512/1409/1409945.png"/>
                 <img src="https://image.flaticon.com/icons/png/512/124/124021.png"/>
                 <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png"/>
             </div>
             <div id="place">
                 <h4>BY PLACE</h4>
                 <p>Internships In Mumbai</p>
                 <p>Internships In Delhi</p>
                 <p>Internships In Bangalore</p>
                 <p>Internships In Pune</p>
                 <p>Internships In Hyderabad</p>
             </div>
             <div id="profile">
                     <h4>BY PROFILE</h4>
                     <p>Marketing Internships</p>
                     <p>Business Development Internships</p>
                     <p>Content Writing Internships</p>
                     <p>Graphic Designing Internships</p>
                     <p>HR Internships</p>
                     <p>Engineering Internships</p>
             </div>
             <div id="type">
                 <h4>BY TYPE</h4>
                 <p>Full Time Internships</p>
                 <p>Part Time Internships</p>
                 <p>Work From Home Internships</p>
             </div>
         </div>
         <div id="lower_part">
             <div id="detail">
                 <h3>FIND INTERNSHIP</h3>
                 <h3>POST INTERNSHIP</h3>
                 <h3>COURSES</h3>
                 <h3>TERMS AND CONDITIONS</h3>
                 <h3>PRIVACY POLICY</h3>
                 <h3>CONTACT US</h3>
                 <h3>ABOUT US</h3>
                 <h3>SITEMAP</h3>
             </div>
             <div id="year">
                 <h3>© 2015 - 2021 INTERNTHEORY. ALL RIGHTS RESERVED.</h3>
             </div>
         </div>
   </div>

</body>
</html>
<script>

    
document.getElementById("img1").addEventListener("click" ,function(){
        location.href="http://localhost:2345/AllInternships"
    })

    document.getElementById("img2").addEventListener("click" ,function(){
        location.href="http://localhost:2345/InternTheory"
    })

    document.getElementById("img3").addEventListener("click" ,function(){
        location.href="http://localhost:2345/Cart"
    })
</script>