  * {
            padding: 0px;
            margin: 0px;
            font-family: 'Roboto', sans-serif;
        }

        header {
            width: 100%;
            height: 70px;
            background-color: white;
            position: fixed;
            top: 0px;
            margin: 0px;
            z-index: 1;
            box-shadow: 0px 2px 2px -1px rgb(0 0 0 / 20%);
        }

        #img1 {
            width: 20px;
            height: 20px;
            padding: 20px;
            cursor: pointer;
        }

        #img2 {
            margin: 0;
            height: 45px;
            cursor: pointer;
        }

        #img3 {
            float: right;
            padding: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        button {
            background-color: red;
            padding: 10px;
            float: right;
            width: 100px;
            border-radius: 5px;
            margin: 15px;
            border: 0;
            color: white;
            cursor: pointer;
            box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
        }
        button:hover {
            background-color: rgb(94, 2, 2);
        }


        #main-container {
            width: 100%;
            margin-top: 70px;

        }

        #box1 {
            margin: 0px;
            height: 445px;
            width: 100%;
            background-image: url("https://assets.interntheory.com/creative/Homepage-Banner.png");



        }

        .coffee_img1 {
            height: 445px;
            width: 100%;
            background: rgb(68, 100, 120);
            opacity: 0.6;
            position: static;
        }

        .box1_content {
            color: white;
            opacity: 1 !important;
        }

        #box1 p {
            padding: 5px;
            text-align: center;
            color: white;
        }

        #box1 h2 {

            text-align: center;
            color: white;
            padding-top: 110px;
            z-index: 1;

        }
     #preference{
         height: 80px;
         width: 1300px;
         background-color: white;
         margin:auto;
         border-radius: 10px;
         margin-top: 5px;         
         margin-bottom: 5px;         
     }

     #right{
         float: left;
         
     }
        #part1{
            float: left;
            padding: 20px;
        }
        #part2{
            float: left;
            padding: 20px;
            padding-right: 0px;
        }
        #srh{
            float: left;
            padding: 8px 0px 8px 0px;

        }
        #srhbtn{
            margin-left: 0px;
        }
    


        #box2 {
            background-color: rgb(255, 255, 255);
            display: flex;
            padding: 2.5% 3% 2.5% 3%;
        }

        #box2_text {
            width: 50%;
            height: 100px;
            float: left;
            text-align: center;
            padding: 10% 80px 3% 2%;
        }

        #box2_text h2 {
            font-weight: 800;
            font-size: 28px;
            line-height: 37px;
            color: rgba(0, 0, 0, 0.87);
            margin: 0px;
        }

        #box2_text p {
            font-weight: 400;
            width: 90%;
            font-size: 14px;
            line-height: 21px;
            color: #3c4858;
            margin: 0px;
            border-top: 1px solid #3c4858;
        }

        .logobox {
            width: 50%;
            display: grid;
            gap: 8px;
            grid-template-columns: repeat(4, 130px);
            grid-template-rows: repeat(5, 70px);
            height: 400px;
            font-family: 'Times New Roman'-400;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
        }

        #Exp-box {
            background-color: rgb(247, 252, 254);
            padding: 70px 0px;
        }

        #internship {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: repeat(2, 200px);
            gap: 4px;
            margin: 5px 11%;
        }

        #internship img {
            height: 180px;
            border: 1px solid rgb(238, 238, 238);
            border-radius: 4px;
        }

        .coursebox_main {
            width: 93%;
            background-color: rgb(238, 238, 238);
            text-align: center;
            height: 200px;
            padding: 50px 50px;
        }

        .coursebox_main div {
            width: 300px;
            height: 150px;
            margin: 5px;
        }

        #coursebox1 {

            float: left;
            margin-left: 250px;
            background: url(https://assets.interntheory.com/creative/home-courses/Homepage-stock.jpg) center center / cover;

        }

        #coursebox2 {
            float: left;

            background: url(https://assets.interntheory.com/creative/home-courses/Homepage-digital.jpg)center center / cover;
        }

        #coursebox3 {
            float: left;
            background: url(https://assets.interntheory.com/creative/home-courses/Homepage-web.jpg)center center / cover;
        }


        .text1 {
            width: 50%;
            height: 300px;
            padding-top: 200px;
            padding-right: 150px;
            margin-left: 750px;
            margin-top: -500px;



        }

        .image_text {
            background-color: rgba(0, 0, 0, 0);
            width: 50%;
            height: 40px;
            display: flex;
            gap: 100px;


        }

        #imagetree {
            background-color: rgba(0, 0, 0, 0);
            font-family: 'Times New Roman';
            font-size: 16px;
            font-weight: 400;
            width: 50%;
            height: 100px;
            padding-top: 50px;
            padding-left: 250px;

        }


        #testimonial {
            height: 350px;
            width: 1200px;
            position: relative;
            
            margin-left: 250px;
        }

        #testimonial h5 {
            font-size: 24px;
            line-height: 31.92px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
        }

        #testimonial span {
            color: #087cdd;
            font-size: 12px;
            line-height: 19.92px;
            letter-spacing: 0.39996px;
            font-weight: 800;
            font-style: normal;
            text-align: center;
        }

        #testimonial p {

            color: #666666;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.14994px;
            padding: 5px;
            font-weight: 400;
            font-style: italic;
            text-align: start;
            font-family: Arial, Helvetica, sans-serif;

        }

        .testimage {
            width: 250px;
            float: left;
            padding-left: 30px;
        }

        .testtext {
            width: 500px;
            float: left;
        }

        #amani {
            width: 800px;
            height: 100px;
            background-color: rgb(226, 224, 238);
            padding: 40px;
            margin: 50px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            float: left;
            overflow: hidden;
            gap: 10px;
            position: relative;
        }
       
        #main {
                    width: 100%;
                    height: 5%;
                    background-color: #446478;
                    font-family: 'Roboto', sans-serif;
                    color: white;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                    
                }
                #content {
                    padding: 1% 8%;
                }
                #upper_part {
                    display: grid;
                    grid-template-columns: 10% 25% 25% 25%;
                    gap: 3%;
                    margin: auto;
                }
                #detail {
                    display: grid;
                    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%;
                    gap: 2%;
                    border-bottom: 1px solid rgb(204, 200, 200);
                }
                #year {
                    text-align: center;
                }
                #upper_part{
                    padding-top: 30px;
                }
                #upper_part p{
                    padding-top: 10px;
                }
                #upper_part h4 {
                    border-bottom: 1px solid rgb(207, 202, 202);
                    padding-bottom: 10px;
                    color: white;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                }
                #upper_part h3 {
                    font-size: 14px;
                    color: white;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                }
                #lower_part{
                    padding-top: 30px;
                }
                #lower_part h3{
                  font-size: 14px;
                    color: white;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                }
                #main img {
                    width: 20%;
                    margin: 5px;
                }
                #image {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                }
                #detail{
                    padding-left: 50px;
                    text-align: center;
                }

                 #a1{
        color: white;
        text-decoration: none;
    }
    #a2{
         background-color: red;
         padding:5px;
          text-align: center;
    }
    #a3{
        text-align: center;
    }
    #preference{
        margin-top: 50px;

    }
    #part1{
        margin-left: 30px;

    }
    #a5{
        width: 250px;
         padding:8px;
          margin-right: 20px;
           font-size: 18px;
            border: none; 
            border-bottom: 1px solid black;
    }
    #a6{
        width: 250px;
         padding: 8px;
          margin-right: 20px;
           font-size: 18px;
            border: none;
             border-bottom: 1px solid black;
    }
    #a7{
        width: 250px;
         padding: 8px; 
         font-size: 18px;
          border: none;
           border-bottom: 1px solid black;
    }
    #a8{
        width: 250px;
         padding: 8px 0px 8px 8px;
          font-size: 18px;
           border: none;
            border-bottom: 1px solid black;
    }


    #b1{
        color:red;
    }

    #b2{
        text-align: center;
         margin-bottom: 20px;
         font-style: normal;
         font-weight: 700;
         line-height: 47px;
         font-size: 35px;
         color:rgba(0 ,0 ,0 ,0.87);
    }
    #b3{
        color:red;
    }
    #b4{
        color:red;
}    
#imagetree{
     width:30px;
}    

  #b5{
    color:red;

  }

  #c1{
    width: 400px; height: 400px; margin-left: 300px;
  }
  #c2{
    border-radius: 50%;
  }
